@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

html{
  height: 100vh;
  scroll-behavior: smooth;
}

.font-audiowide{
  font-family: Audiowide;
}

.bg-city{
  background-image: url("../images/city.jpg");
  background-attachment: fixed;
  background-position: center center;
}

.bg-forest{
  background-image: url("../images/forest4k.jpg");
  background-attachment: fixed;
  background-position: center center;
}

.bg-road{
  background-image: url("../images/road.jpg");
  background-attachment: fixed;
  background-position: center center;
}

.bg-darkwood{
  background-image: url("../images/darkwood.jpg");
  background-attachment: fixed;
  background-position: center center;
}

.img-opacity{
  -webkit-mask-image: -webkit-gradient(linear, center bottom, center top,
color-stop(0.00,  rgba(0,0,0,0.2)),
    color-stop(1.00,  rgba(0,0,0,1)));
}

.max-width-1500{
  max-width: 1500px;
}

.parallax-el-1{
  top:8% !important;
  left:14% !important;
}
.parallax-el-2{
  top:18% !important;
  left:75% !important;
}
.parallax-el-3{
  top:63% !important;
  left:12% !important;
}
.parallax-el-4{
  top:63% !important;
  left:70% !important;
}

svg{
  font-weight:bold;
  max-width:600px;
  height:100%;
}

/* Custom button */
.custom-btn {
  width: 230px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  width: 230px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}

.custom-btn:hover {
  color: #ed7669;
  background: transparent;
   box-shadow:none;
}
.custom-btn:before,
.custom-btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #ed7669;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.custom-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.custom-btn:hover:before,
.custom-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* Classes for the chart */
.wrap {
  width: 50%;
  margin: 0 auto;
}

.bar {
  background: #e74c3c;
  width: 0;
  margin: 0.25em 0;
  color: #fff;
  position: relative;
  transition: width 2s, background 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
}
.bar:nth-of-type(2n) {
  background: #ed7669;
}
.bar .label {
  font-size: 0.75em;
  padding: 1em;
  background: #3d3d3d;
  width: 8em;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.bar .label.light {
  background: #575757;
}
.count {
  position: absolute;
  right: 0.25em;
  top: 0.75em;
  padding: 0.15em;
  font-size: 0.75em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
